@font-face {
    font-family:'NotoReg'; 
    src: url('../fonts/NotoSansReg.ttf');
   }
@font-face {
   font-family:'FuturaBold'; 
   src: url('../fonts/FuturaPT-Bold.ttf');
  }
.main{
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;
}
#wrapper{
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;

}
#modalMain{
    position:absolute;
    background-color: transparent;
    width:100%;
    height:100vh;
    z-index: 5;
    

}
#modal{
    opacity: 0;
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height:400px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 10px;
    border:2px solid transparent;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
}
#modal:hover{
    border:2px solid rgb(230, 166, 29);
}
#modalBtn{
    width: 150px;
    padding:10px;
    box-sizing: border-box;
}
.modalHeader{
    font-size: 16px;
    font-family: 'NotoReg';
    font-weight: bold;
}
.modalText{
    font-size: 14px;
    font-family: 'NotoReg';
    margin: 15px 0;
}
.top{
    box-sizing: border-box;
    text-align: center;
    padding: 20px 0;
    background-color: rgb(230, 166, 29);
}
.topContent{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.topText{
    font-size: 70px;
    font-family:'FuturaBold'; 
    line-height: 70px;
}
.topText:hover .transparent{
    color:red;
}
.transparent{
    color:transparent;
    -webkit-text-stroke: 1px black;
}
* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 66%;
  height: 300px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}
.cell1{
  background-image: url('../images/326348c1351cb611d3d5a7fd0ba346b2.jpg');
  background-size: cover;
}
.cell2{
    background-image: url('../images/iphone-xr-yellow-select-201809_AV3.jpg');
    background-size: cover;
}
.cell3{
    background-image: url('../images/iphonexrcolors2-800x362.jpg');
    background-size: cover;
}
.cell4{
    background-image: url('../images/galaxy1.jpg');
    background-size: cover;
}
.cell5{
    background-image: url('../images/dims-640x394.jpg');
    background-size: cover;
}
.cell6{
    background-image: url('../images/1.jpg');
    background-size: cover;
}
  .cell7{
    background-image: url('../images/2.jpg');
    background-size: cover;
}
  .cell8{
    background-image: url('../images/3.jpg');
    background-size: cover;
}
  .cell9{
    background-image: url('../images/4.png');
    background-size: cover;
}
  .cell10{
    background-image: url('../images/5.jpg');
    background-size: cover;
}
.cell11{
    background-image: url('../images/6.jpeg');
    background-size: cover;
}
  .cell12{
    background-image: url('../images/7.jpg');
    background-size: cover;
}
  .cell13{
    background-image: url('../images/8.jpg');
    background-size: cover;
}
  .cell14{
    background-image: url('../images/9.jpg');
    background-size: cover;
}
  .cell15{
    background-image: url('../images/10.jpg');
    background-size: cover;
}


#sliders{
    margin-top: 20px;
    margin-bottom: 20px;
}
.flickity-page-dots{
    bottom: 0;
}
.btns{
    font-size: 20px;
    font-family:'FuturaBold'; 
}
.left__block__content {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  

  .left__block__transform {
    align-self: flex-start;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    writing-mode: vertical-lr;
    -webkit-transform: scale(1, -1);
    position: fixed;
    left: 0;
    top:0;
  }
  

  .left__block__transform__list__item {
    display: inline-block;
    -webkit-transform: scale(-1, 1);
    font-family: "FuturaBold";
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 25px;
  }
  

  .left__block__transform__list__item:last-of-type {
    margin-bottom: 0px;
  }
  

  .left__block__transform__list__item__link {
    text-decoration: none;
    color: #D8D8D8;
  }
  .productsMobile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 0;
    visibility: hidden;
    height:0;
  }
  .productMobileWhole{
      display: flex;
      flex-direction:column;
  }
  .productMobilePhoto{
    width:108px;
    height:214px;
    background-image: url('../images/iphone_xs_max_gold_sku_header.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .productsTablet{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 0;
    visibility: hidden;
    height:0;
  }
  .productTabletWhole{
      display: flex;
      flex-direction:column;
  }
  .productTabletPhoto{
    width:171px;
    height:199px;
    background-image: url('../images/ipad-pro-10in-wifi-select-gold-201706.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .productsLaptop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 0;
    visibility: hidden;
    height:0;
  }
  .productLaptopWhole{
      display: flex;
      flex-direction:column;
  }
  .productLaptopPhoto{
    width:230px;
    height:132px;
    background-image: url('../images/macbookpro.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  h3{
    font-family:'FuturaBold'; 
  }
  #slider1{
      visibility: hidden;
      height: 0;
  }
  #slider2{
    visibility: hidden;
    height: 0;
}
#slider3{
    visibility: hidden;
    height: 0;
}
.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.columntext{
  font-family:'FuturaBold'; 
  font-size: 16px;
}
.btns{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#btn1{
  background-image: url('../images/534_oooo.plus.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 144px;
  height: 144px;
  border: 5px solid transparent;
  box-sizing: border-box;
  border-radius: 50%;
}
#btn1:hover{
  transition-duration: 0.5s;
  border-color:rgb(230, 166, 29);
}
#btn2:hover{
  transition-duration: 0.5s;
  border-color:rgb(230, 166, 29);
}
#btn3:hover{
  transition-duration: 0.5s;
  border-color:rgb(230, 166, 29);
}
#btn2{
  background-image: url('../images/1538_oooo.plus.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 144px;
  height: 144px;
  border: 5px solid transparent;
  box-sizing: border-box;
  border-radius: 50%;

}
#btn3{
  background-image: url('../images/1525_oooo.plus.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 144px;
  height: 144px;
  border: 5px solid transparent;
  box-sizing: border-box;
  border-radius: 50%;
}